# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environment
# ------------------------------
.venv/
venv/
env/

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# Python Packaging
# ------------------------------
build/
dist/
*.egg-info/

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Windows
# ------------------------------
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Temporary Files
# ------------------------------
*.tmp
*.bak

# ------------------------------
# Generated Outputs
# ------------------------------
outputs/temp/
reports/temp/